.ui.inverted.teal.vertical.segment
  .ui.page.grid
    .column
      %h2.ui.inverted.header Site Under Construction
      %p We're woking hard to serve you better.
.ui.inverted.red.vertical.segment
  .ui.page.grid
    .column
      %h2.ui.inverted.header Admin?
      %p 
        Please login
        = link_to 'Here', new_admin_session_path, class: 'ui basic tiny white button'