- breadcrumb :edit_treatment_category, @treatment_category
.ui.centered.grid
  .row
    .two.wide.column
      .ui.header Editing Treatment Category
  .row
    .eight.wide.column
      = render 'form'